// JUMBO
.jumbotron {
  height: 500px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-position: center;
  border-radius: 0%;
  margin-bottom: 0;
  padding-bottom: 0;
}

.text2 {
  height: 448px;
  width: 400px;
  background-color: green;
}
.title {
  font-size: 61px;
  width: 60%;
  font-style: normal;
  color: white;
  font-weight: 800;
  opacity: 0.9;
  border-radius: 22px;
}
.lo {
  font-size: 16px;
  font-weight: 600;
  color: white;
  line-height: 1.875;
  max-width: 584px;
  margin-top: 49px;
  padding-bottom: 40px;
}
.font {
  font-size: 20px;
}

// CLASSI AGGIUNTE DA GIULIO

.jumbotron {
position: relative;
overflow: hidden;
.layer {
  width: 100%;
  height: 500px;
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 4;
}
.icon-slider {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translate(0, -50%) rotateZ(90deg);
  font-size: 2.2em;
  color: white;
  z-index: 6;
  i {
    margin-right: 5px;
    cursor: pointer;
    &.active {
      color: #32c69a;
    }
  }
}
img {
  width: 100%;
  height: 500px;
  object-fit: cover;
  z-index: 1;
  position: absolute;
  bottom: 0;
  left: 0;
}
.container.ct {
  position: relative;
  z-index: 6;
  .text {
    position: relative;
    top: 50px;
  }
}
}

header .jumbotron .icon-slider .fa-window-minimize {
cursor: pointer;
margin: 0 5px;
padding: 0;
}

header .jumbotron .icon-slider .fa-window-minimize.active {
color: #058283;
}

/* transizioni Vue */
.fade-leave-active,
.fade-enter-active {
transition: opacity .8s ease;
}
.fade-enter, .fade-leave-to {
opacity: 0;
}

@media screen and (max-width: 768px) {
.texting {
  .title {
    font-size: 42px;
    width: 95%;
    font-style: normal;
    color: white;
    font-weight: 800;
    opacity: 0.9;
    border-radius: 22px;
  }
  p.lo {
    font-size: 18px;
    font-weight: 600;
    color: white;
    line-height: 1.875;
    max-width: 400px;
    margin-top: 49px;
    padding-bottom: 10px;
  }
}

.jumbotron .icon-slider {
  width: 125px;
  top: 87%;
  left: 50%;
  transform: translate(-50%, 0) rotateZ(0deg);
}
}
